<!-- <ion-header>
  <ion-toolbar>
    <ion-title>tabs</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
    <ion-tabs>
      <ion-tab-bar slot="bottom" color="primary">
        <ion-tab-button tab="home">
          <ion-icon name="home"></ion-icon>
          <ion-label> Home </ion-label>
        </ion-tab-button>
  
        <ion-tab-button tab="list">
          <ion-icon name="locate"></ion-icon>
          <ion-label> ที่จอดรถ </ion-label>
        </ion-tab-button>
  
        <ion-tab-button tab="map">
          <ion-icon name="map"></ion-icon>
          <ion-label> แผนที่ </ion-label>
        </ion-tab-button>
  
        <ion-tab-button tab="qrcode">
          <ion-icon name="qr-scanner"></ion-icon>
          <ion-label> ที่จอดรถ </ion-label>
        </ion-tab-button>
  
        <ion-tab-button tab="setting">
          <ion-icon name="settings"></ion-icon>
          <ion-label> Settings </ion-label>
        </ion-tab-button>
      
      </ion-tab-bar>
    </ion-tabs>    

</ion-content>
